		body {
			line-height: 1.6;
			margin: 20px;
			background-color: #c2fcd7; /* Yedek renk */
			background-image: url('https://i.imgur.com/MzvKVpt.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			font-family: 'Clash Regular', sans-serif;
		}
		.gorseller {
		width: 400px;
		}
		.indir-btn {
		display: inline-block;
		padding: 10px 20px;
		background-color: #4CAF50;
		color: white;
		text-decoration: none;
		border-radius: 8px;
		transition: background-color 0.3s;
		}
		.indir-btn:hover {
		background-color: #45a049;
		}